* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
}

/* before: Staatliches
font fotos: Staatliches

paragrafo :Palanquin*/

body::before {

    content: "";
    background-color: hsla(218, 17%, 62%, 1);
    width: 100%;
    height: 28rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;



}



.page {

    max-width: 32rem;
    margin: 0 auto;

}

body {
    width: 32rem;
    margin: 0 auto;
    background-color: #EFF1FF;
    ;


}

header h1 {


    margin-top:2rem;
    margin-bottom:  5rem;

  
    padding: 10px 86px 7px;
    font-family: 'Staatliches', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.4rem;

    height: 4.9rem;
    background: #CBC0D3;
width: 39rem;
    color: hsla(0, 0%, 100%, 1);
    display: flex;
    width: max-content;
 

}




header {
    padding-top:3.2rem;
    display: flex;
flex-direction: column;
align-items: center;
}



div {
    padding-bottom:6.3rem;
}

div p {
    top: 4.3rem;
    font-family: 'Palanquin', sans-serif;
    text-align: center;
   
}

main h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    margin-top: 1.6rem;
    margin-left: 20rem;
    font-family: 'Staatliches', cursive;
    position: absolute;
    background: #FEEAFA;
    color: hsla(232, 17%, 35%, 1);
    padding: 0 2.4rem;
    border-radius: 2.0rem;
    display: flex;
    flex-direction: column;

}


main img {

    width: 100%;
    height: auto;
    object-fit: cover;
   margin-bottom: 3.2rem;
   
}

main {
    position: relative;
    gap:3.2rem;
}


@keyframes downtop {
0%{
    opacity: 0;
    transform: translateY(15px);}


    100%{
        opacity: 1;
        transform:translateY(0);
    }
}


@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);}


        100% {
            opacity: 1;
            transform:translateY(0);
        }
    }





main{
    animation:downtop 700ms 100ms backwards;
}

main h2{
    animation: topdown 700ms 100ms forwards;
}